body {
    background: rgb(168, 48, 192);
    font: normal 15pt Arial;

}

header {
    color: rgb(4, 7, 9);
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 20px black;
}

footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

